@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap');

* {
  font-family: "Jost", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
