.btnSubmit {
    position: relative;
    left: 37%;
    width: 300px;
    font-size: 24px;
    margin: 50px;
}


@media only screen and (min-width: 480px) and (max-width: 990px){
    .btnSubmit {
        left: calc((100% - 300px) / 2);
    }
}
